{% block body %}
<header>
  <nav class="flex bg-[#226CE0] h-20 font-Abril text-[#1B1725]">
    <ul class="flex w-full list-none justify-evenly px-8 items-center text-xl">
      <li class="absolute left-4">
        <a href="{{ path('app_recap') }}">
          <img
            class="w-20"
            src="{{ asset('images/logo_money.png') }}"
            alt="logo money bag"
          />
        </a>
      </li>
      <li class="hover:bg-[#1B1725] hover:text-[#226CE0]">
        <a href="{{ path('app_revenu') }}">Revenus</a>
      </li>
      <li class="hover:bg-[#1B1725] hover:text-[#226CE0]">
        <a href="{{ path('app_depense') }}">Dépenses</a>
      </li>
      <li class="login_icon absolute right-4">
        <img
          class="w-16 hover:cursor-pointer"
          src="{{ asset('images/male_user.png') }}"
          alt="login logo"
        />
      </li>
      <div
        class="login_menu absolute bg-[#226CE0] right-4 top-20 p-2 text-center border shadow-md shadow-[#534B62] border-[#1B1725] rounded-lg divide-y divide-[#534B62] opacity-0"
      >
        <li class="pb-1 mb-1 bg-[#226CE0]">
          <a href="#" class="hover:bg-[#1B1725] hover:text-[#226CE0] p-1"
            >Connexion</a
          >
        </li>
        <li class="pb-2 pt-2">
          <a href="#" class="hover:bg-[#1B1725] hover:text-[#226CE0] p-1"
            >Inscription</a
          >
        </li>
        <li class="pt-2">
          <a href="#" class="hover:bg-[#1B1725] hover:text-[#226CE0] p-1"
            >Déconnexion</a
          >
        </li>
      </div>
    </ul>
  </nav>
</header>
{% endblock %}
